body {
    font-family: "Verdana", "Arial", sans-serif;
    margin: auto;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

a {
    color:white;
    text-decoration: none;
    font-weight: bolder;
}
/*
img {
    float: left;
    clear: left;
    width: 30%;
    padding-left:30px;
}
*/
iframe {
    width: 500px;
    height: 400px;
}

.bolder {
    font-weight: bolder;
    text-decoration: underline;
}