h1 {
    color: yellow;
    margin-left: 0px;
    font-family: Helvetica, Arial, sans-serif; 
    background-color: black;
    border-radius: 12px;
}

table  {
    background-image: url("img/giphy.gif");
}

td {
    border-radius: 10px;
}

h2 {
    color: yellow;
    background-color: black;
    border-radius: 10px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    margin: auto;
    background-image: url("img/giphy2.gif");
    opacity: 0.99;
}


